In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
departure_file = [file for file in os.listdir() if os.path.splitext(file)[-1] == '.xls'][0]
departure_file

'출국_201018022623.xls'

In [3]:
df = pd.read_excel(departure_file).T
df.shape

(13, 2)

In [4]:
df = df.iloc[1:-1, :].reset_index()
df = df[['index', 1]]
df

    index         1
0   2010년  12488364
1   2011년  12693733
2   2012년  13736976
3   2013년  14846485
4   2014년  16080684
5   2015년  19310430
6   2016년  22383190
7   2017년  26496447
8   2018년  28695983
9   2019년  28714247
10  2020년   3975579

In [5]:
df.columns = ['연도', '출국 인원']

In [6]:
df['연도'] = df['연도'].str.replace(pat = '년', repl = '')

In [7]:
df.to_csv('departure_rate.csv', index =False)